rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /collection/document/sub/doc1 {
      allow read, write: if true;
    }
  }
}